@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.css';

.yarl__carousel {
  background-color: white !important;
}

.yarl__slide {
  display: flex !important;
  flex-direction: column !important;
  gap: 3rem !important;
  color: white !important;
}

.yarl__button {
  color: black !important;
}

.yarl__slide_title {
  color: black !important;
}

@media (prefers-color-scheme: dark) {
  .yarl__carousel {
    background-color: black !important;
    color: white;
  }
  .yarl__button {
    color: white !important;
  }

  .yarl__slide_title {
    color: white !important;
  }
}

.react-multi-carousel-track {
  display: flex;
  gap: 0.5rem;
}
